.footer {
  background: #000000;
}

.footer-container {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid; /* Usando grid para layout */
  grid-template-columns: 1fr 1fr; /* Coluna para imagem e coluna para texto */
  gap: 100px;
  align-items: center; /* Alinhando verticalmente ao centro */
}

.footer-texto {
  color: #cccccc;
  font-size: 1.5rem;
  line-height: 1.33;
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 30px;
}

.footer-contato li a {
  color: #ffffff;
}

.footer-copyright {
  color: #a3a3a3;
  font-size: 1.25rem;
  grid-column: 1 / -1; /* Faz o texto ocupar as duas colunas */
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr; /* Coluna única para telas menores */
    gap: 40px;
  }
  .footer-contato li {
    font-size: 1.5rem;
  }
}
